p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  padding: 0;
}

body {
  font-family: "Open Sans", Tahoma, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 55px;
    margin: 0 auto;
  }
}

.btn {
  width: 160px;
  height: 40px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  transition: color 300ms linear, background-color 300ms;
  border: 1px solid #FF6C00;
  border-radius: 25px;
}
.btn:hover, .btn:focus {
  background-color: var(--active-color);
  color: var(--light-color);
  cursor: pointer;
}
.btn--light {
  color: var(--light-color);
}
.btn--dark {
  color: var(--dark-color);
}

:root {
  --light-color: #FFFFFF;
  --dark-color: #303030;
  --active-color: #FF6C00;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: absolute;
  width: 100%;
}
.header .container {
  position: relative;
  padding: 40px 15px 0 15px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .header .container {
    padding: 40px 30px 0 30px;
  }
}
@media screen and (min-width: 480px) {
  .header .container {
    padding: 40px 30px 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .header .container {
    padding: 32px 41px 0 50px;
    margin: 0 auto;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .header .container {
    padding: 0;
    padding: 31px 75px 0 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 60px;
  }
}
.header__logo-icon {
  fill: var(--light-color);
}
@media screen and (min-width: 768px) {
  .header__logo-icon {
    fill: #303030;
  }
}
.header__nav-container {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__nav-container {
    padding-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-container {
    align-items: baseline;
    padding-top: 0;
  }
}
.header__navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__navigation {
    display: block;
    padding-top: 10px;
  }
}
.header__list {
  display: flex;
}
@media screen and (min-width: 1280px) {
  .header__item:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .header__item {
    margin-right: 25px;
  }
}
.header__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  transition: color 300ms linear;
  color: var(--light-color);
}
.header__link:hover, .header__link:focus {
  color: var(--active-color);
  cursor: pointer;
}
.header__contacts {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1280px) {
  .header__contacts {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-right: 2px;
  }
}
.header__tel {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color 300ms linear;
  color: var(--light-color);
}
.header__tel:hover, .header__tel:focus {
  color: var(--active-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__tel {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .header__tel {
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .header__btn {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn {
    margin-bottom: 0px;
  }
}
.header__mob-btn {
  position: absolute;
  display: block;
  top: 48px;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  fill: var(--light-color);
  transition: fill 300ms linear;
}
.header__mob-btn--close-icon {
  display: none;
  fill: var(--dark-color);
}
.header__mob-btn.is-open .header__mob-btn--close-icon {
  display: block;
}
.header__mob-btn.is-open .header__mob-btn--menu-icon {
  display: none;
}
.header__mob-btn:hover, .header__mob-btn:focus, .header__mob-btn--close-icon:hover, .header__mob-btn--close-icon:focus {
  fill: var(--active-color);
}
.header__mob-btn.is-open body {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .header__mob-btn {
    display: none;
  }
}

.hero .container {
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero .container {
    padding: 0px;
  }
}
@media screen and (min-width: 480px) {
  .hero .container {
    padding: 0px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding: 0px 39px 0 39px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    padding: 0px 75px 0 39px;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
    align-items: start;
  }
}
.hero__container {
  min-height: 580px;
  background-color: #303030;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 208px 30px 0 31px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    width: 576px;
    height: 680px;
    padding-top: 280px;
    padding-left: 70px;
    margin-left: auto;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-bg-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    width: 1073px;
    height: 672px;
    padding: 271px 0 0 99px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/header-background-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.hero__top-text {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-left: 80px;
  margin-bottom: 20px;
}
.hero__top-text::before {
  position: absolute;
  top: -41px;
  left: -50px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: rgba(157, 164, 189, 0.6);
  transform: rotate(-90deg) translate(-19px);
}
.hero__heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--light-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .hero__heading {
    font-size: 72px;
    line-height: 1.18;
  }
}
.hero__bottom-text {
  max-width: 306px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 768px) {
  .hero__bottom-text {
    max-width: 349px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__bottom-text {
    font-size: 18px;
    line-height: 1.66;
    max-width: 400px;
  }
}

.soc {
  position: relative;
  width: 127px;
  padding-left: 50px;
  display: flex;
  align-items: flex-end;
  display: none;
}
@media screen and (min-width: 768px) {
  .soc {
    position: relative;
    width: 85px;
    height: 680px;
    padding: 0px 36px 0px 30px;
    margin-right: 28px;
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .soc {
    height: 672px;
    margin-right: 0;
    padding: 0 36px 0 20px;
  }
}
.soc__list {
  display: flex;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-19px);
  align-items: center;
}
.soc__list::before {
  position: absolute;
  top: -37px;
  left: 65px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: var(--dark-color);
  transform: rotate(-90deg) translate(-20px);
}
.soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  transition: color 300ms linear;
  color: var(--dark-color);
}
.soc__link:hover, .soc__link:focus {
  color: var(--active-color);
  cursor: pointer;
}
.soc__item:first-child {
  margin-right: 40px;
  margin-left: 140px;
}

.about .container {
  padding: 84px 30px 84px 30px;
}
@media screen and (min-width: 768px) {
  .about .container {
    padding: 100px 39px;
  }
}
@media screen and (min-width: 768px) {
  .about .container {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .about .container {
    padding: 165px 75px 90px 55px;
    display: block;
  }
}
.about__content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .about__content-container {
    margin: 0 auto;
  }
}
.about__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .about__list {
    display: flex;
    flex-direction: row;
  }
}
.about__item {
  width: 330px;
  height: auto;
  margin-right: 30px;
}
.about__item:first-child {
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .about__item {
    max-width: 270px;
    height: auto;
  }
  .about__item:first-child {
    margin-bottom: 0px;
  }
  .about__item:last-child {
    margin-right: 0px;
  }
}
.about__container-text {
  position: relative;
}
@media screen and (min-width: 1280px) {
  .about__container-text {
    max-width: 500px;
  }
}
.about__top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-left: 80px;
  margin-bottom: 20px;
}
.about__top-text::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: var(--dark-color);
  transform: rotate(90deg) translate(-23px);
}
.about__heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 29px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--dark-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__heading {
    font-size: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .about__heading {
    font-size: 42px;
    line-height: 1.16;
  }
}
.about__first-text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .about__first-text {
    font-size: 18px;
    line-height: 1.66;
  }
}
.about__second-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .about__second-text {
    width: 480px;
    margin-bottom: 30px;
  }
}

.prices {
  max-width: 480px;
  min-height: 826px;
  background-color: #111319;
  background-image: url(../img/prices-mob-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .prices {
    max-width: 768px;
    min-height: 858px;
    background-image: url(../img/prices-tab-bg.png);
  }
}
@media screen and (min-width: 1280px) {
  .prices {
    max-width: 1280px;
    min-height: 718px;
    background-image: url(../img/prices-bg.png);
  }
}
.prices .container {
  position: relative;
  padding: 84px 30px 84px 30px;
}
@media screen and (min-width: 768px) {
  .prices .container {
    padding: 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .prices .container {
    padding: 130px 55px;
  }
}
.prices__container {
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .prices__container {
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .prices__container {
    display: flex;
    padding: 0;
  }
}
.prices__top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-left: 80px;
  margin-bottom: 20px;
}
.prices__top-text::before {
  position: absolute;
  top: 84px;
  left: 59px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: rgba(157, 164, 189, 0.6);
  transform: rotate(90deg) translate(-23px);
}
@media screen and (min-width: 768px) {
  .prices__top-text::before {
    top: 100px;
    left: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .prices__top-text::before {
    top: 130px;
    left: 85px;
  }
}
.prices__heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--light-color);
  margin-bottom: 44px;
}
.prices__btn {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .price-list {
    width: 585px;
    height: 240px;
    padding: 30px 40px;
  }
  .price-list--left {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price-list--right {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.price-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.price-list--right .price-list__item:last-child {
  margin: 0;
}
@media screen and (min-width: 425px) {
  .price-list__item::after {
    content: "";
    height: 1px;
    width: 20px;
    background-color: rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
    flex-grow: 1;
  }
}
.price-list__text {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 425px) {
  .price-list__text:last-child {
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .price-list__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.reasons .container {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 84px 30px;
}
@media screen and (min-width: 768px) {
  .reasons .container {
    padding: 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .reasons .container {
    padding: 143px 155px 139px 155px;
    display: flex;
    justify-content: space-between;
  }
}
.reasons__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .reasons__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .reasons__list {
    max-width: 450px;
    margin: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .reasons__list {
    margin: 0;
  }
}
.reasons__item {
  padding: 20px 30px 20px 30px;
  margin-bottom: 30px;
  width: 193px;
  height: 133px;
  background-color: #F7F7F7;
}
.reasons__item:last-child {
  margin: 0;
}
@media screen and (min-width: 480px) {
  .reasons__item {
    margin: 0;
  }
  .reasons__item:nth-child(2n) {
    margin-top: 30px;
  }
  .reasons__item:first-child {
    margin-bottom: 30px;
  }
  .reasons__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .reasons__item {
    width: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .reasons__item {
    width: 170px;
    padding: 20px;
  }
}
.reasons__statistics {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--dark-color);
}
.reasons__statistics-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #FF6C00;
  vertical-align: top;
}
.reasons__explanation {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--dark-color);
}
.reasons__text-container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .reasons__text-container {
    max-width: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .reasons__text-container {
    max-width: 470px;
    margin-top: -9px;
  }
}
.reasons__top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-left: 80px;
  margin-bottom: 20px;
}
.reasons__top-text::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: var(--dark-color);
  transform: rotate(90deg) translate(-23px);
}
.reasons__heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--dark-color);
  margin-bottom: 20px;
}
.reasons__bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 44px;
}
@media screen and (min-width: 1280px) {
  .reasons__bottom-text {
    margin-bottom: 0;
  }
}

.masters .container {
  padding: 84px 30px;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .masters .container {
    padding: 100px 159px;
  }
}
@media screen and (min-width: 1280px) {
  .masters .container {
    padding: 130px 55px;
  }
}
.masters__container-text {
  position: relative;
  margin-bottom: 44px;
}
.masters__top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 20px;
  margin-left: 80px;
}
.masters__top-text::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: var(--dark-color);
  transform: rotate(90deg) translate(-23px);
}
.masters__heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--dark-color);
}

@media screen and (min-width: 1280px) {
  .masters-soc__list {
    display: flex;
  }
}
.masters-soc__item {
  width: 100%;
  margin-bottom: 64px;
}
.masters-soc__item:last-child {
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .masters-soc__item {
    margin-bottom: 0;
    width: 370px;
    margin-right: 30px;
  }
  .masters-soc__item:last-child {
    margin: 0;
  }
}
.masters-soc__img {
  display: block;
  margin-bottom: 30px;
}
.masters-soc__img-card {
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .masters-soc__img-card {
    margin: 0;
  }
}
.masters-soc__heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.masters-soc__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF6C00;
  margin-bottom: 30px;
}

.social-network {
  display: flex;
  justify-content: center;
}
.social-network__list {
  margin-right: 10px;
}
.social-network .social-network__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 300ms linear;
}
.social-network .social-network__link:hover, .social-network .social-network__link:focus {
  fill: #FF6C00;
  cursor: pointer;
}

.gallery .container {
  padding: 84px 30px;
}
@media screen and (min-width: 768px) {
  .gallery .container {
    padding: 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery .container {
    padding: 130px 55px;
  }
}
.gallery__text-container {
  position: relative;
  margin-bottom: 44px;
}
.gallery__top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-left: 80px;
}
.gallery__top-text::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: var(--dark-color);
  transform: rotate(90deg) translate(-23px);
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.gallery__item {
  display: block;
  margin-bottom: 30px;
}
.gallery__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 330px;
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    width: 270px;
    width: calc(25% - 30px);
  }
}
.gallery__img-card {
  margin: 0 auto;
}

.connect-wrap {
  margin: 0 auto;
}
.connect-wrap .container {
  background-color: #191C26;
  background-image: url(../img/contacts-mob-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .connect-wrap .container {
    background-image: url(../img/contacts-tab-bg.png);
  }
}
@media screen and (min-width: 1280px) {
  .connect-wrap .container {
    background-image: url(../img/contacts-bg.png);
    background-position: right;
    flex-direction: row;
  }
}
.online {
  padding: 84px 30px;
}
@media screen and (min-width: 768px) {
  .online {
    padding: 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .online {
    padding: 130px 55px 130px 41px;
  }
}
.online__heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--light-color);
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .online__heading {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .online__input-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 44px;
  }
}
.online__field {
  position: relative;
  margin-bottom: 44px;
}
.online__field:hover .online__input {
  border-bottom: 1px solid var(--light-color);
  cursor: pointer;
}
.online__field:hover .online__label {
  color: var(--light-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .online__field {
    width: 330px;
    margin: 0;
    margin-right: 30px;
  }
  .online__field:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .online__field {
    width: 270px;
  }
}
.online__input {
  width: 100%;
  height: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border 300ms linear;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-color);
}
.online__input:not(:placeholder-shown) + .online__label {
  color: #ffffff;
  transform: translateY(-100%);
}
.online__input:focus + .online__label {
  color: #ffffff;
  transform: translateY(-100%);
}
.online__input:focus {
  border-bottom: 1px solid var(--light-color);
}
.online__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 300ms linear, transform 300ms linear;
}
.online__field-text {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
}
.online__field-text:hover .online__text {
  border-bottom: 1px solid var(--light-color);
  cursor: pointer;
}
.online__field-text:hover .online__label {
  color: var(--light-color);
  cursor: pointer;
}
.online__text {
  width: 100%;
  height: 65px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  resize: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-color);
  transition: border 300ms linear;
}
.online__text:not(:placeholder-shown) + .online__label {
  color: #ffffff;
  transform: translateY(-100%);
}
.online__text:focus + .online__label {
  color: #ffffff;
  transform: translateY(-100%);
}
.online__text:focus {
  border-bottom: 1px solid var(--light-color);
}
.online__btn {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .online__btn {
    margin: 0;
  }
}

.contacts {
  padding: 84px 30px;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding: 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding: 130px 0px 130px 90px;
  }
}
.contacts__heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--light-color);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts__heading {
    text-align: left;
  }
}
.contacts__wrap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .contacts__wrap-container {
    display: block;
  }
}
.contacts__list {
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    max-width: 260px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__list {
    margin-bottom: 70px;
  }
}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item:last-child {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .contacts__item:last-child {
    margin-bottom: 0;
  }
}
.contacts__link {
  position: relative;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  transition: color 300ms linear;
}
.contacts__link:hover, .contacts__link:hover .contacts__item-icon, .contacts__link:focus, .contacts__link:focus .contacts__item-icon {
  stroke: var(--light-color);
  color: var(--light-color);
  cursor: pointer;
  width: 34px;
  height: 34px;
}
.contacts__item-icon {
  position: absolute;
  top: 0;
  left: -40px;
  fill: transparent;
  stroke: rgb(157, 164, 189);
  transition: stroke 300ms linear, width 300ms linear, height 300ms linear;
}
.contacts__container-text {
  position: relative;
}
@media screen and (min-width: 768px) {
  .contacts__container-text {
    width: 330px;
  }
}
.contacts__bottom-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-left: 80px;
  margin-bottom: 20px;
}
.contacts__bottom-top-text::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: rgba(157, 164, 189, 0.4);
  transform: rotate(90deg) translate(-23px);
}
.contacts__bottom-bot-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.link--underline {
  text-decoration: underline;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  padding: 40px;
  min-width: 100%;
  min-height: 609px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 455px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    max-height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  display: block;
  fill: #000000;
}

/* Modal-form */
.modal-heading-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
}

.input-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-icon-position {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.modal-field--hover:hover .modal-input, .modal-field--hover .modal-input:focus {
  border: none;
  border: 1px solid var(--active-text-color);
}

.user-name-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--title-nav-text-color);
  cursor: pointer;
}
.modal-field--hover:hover .user-name-icon, .modal-field--hover .modal-input:focus + .user-name-icon {
  fill: var(--active-text-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field:hover .modal-comment, .modal-field .modal-comment:focus {
  border: 1px solid var(--active-text-color);
}

/* Modal CHECK */
.modal-field-checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-checkbox {
  margin-right: 8.38px;
  cursor: pointer;
}
.modal-checkbox:checked + .user-check::before {
  background-color: var(--active-text-color);
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.user-check::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-nav-text-color);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (min-width: 1200px) {
  .user-check::before {
    left: 12px;
  }
}

.user-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .user-check-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.agreement-conditions {
  color: var(--active-text-color);
  text-decoration-line: underline;
}

.header__modal-menu {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.header__modal-menu .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 118px 0px 0px 61px;
}
.header__modal-menu.is-open {
  display: block;
  overflow: auto;
}
.header__mob-navigation {
  margin-bottom: 64px;
}
.header__mob-item {
  margin-bottom: 24px;
}
.header__mob-item:last-child {
  margin-bottom: 0;
}
.header__mob-item:hover .header__mob-link {
  color: var(--active-color);
}
.header__mob-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--dark-color);
  transition: color 300ms linear;
}
.header__mob-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
.header__mob-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 24px;
  transition: color 300ms linear;
}
.header__mob-tel:hover, .header__mob-tel:focus {
  color: var(--active-color);
}
.header__mob-menu-btn {
  width: 194px;
  height: 40px;
}

.soc-mob {
  position: relative;
  padding-right: 105px;
  margin-left: auto;
}
.soc-mob__item:first-child {
  margin-bottom: 24px;
}
.soc-mob__item:hover .soc-mob__link, .soc-mob__item:focus {
  color: var(--active-color);
}
.soc-mob__item::before {
  position: absolute;
  top: 4px;
  left: -70px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: var(--dark-color);
  transform: rotate(90deg) translate(-23px);
}
.soc-mob__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: var(--dark-color);
  transition: color 300ms linear;
}

.footer .container {
  display: flex;
  flex-direction: column-reverse;
  padding: 44px 30px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    padding: 56px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .container {
    padding: 55px;
  }
}
.footer__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}
.footer__text-item {
  font-size: 15px;
}
.footer__soc {
  position: relative;
  margin-left: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__soc {
    margin-bottom: 0;
  }
}
.footer__soc-list {
  display: flex;
}
.footer__soc-list::before {
  position: absolute;
  top: 4px;
  left: -70px;
  content: "";
  width: 0.96px;
  height: 60px;
  background-color: var(--dark-color);
  transform: rotate(90deg) translate(-23px);
}
.footer__soc-item:first-child {
  margin-right: 40px;
}
.footer__soc-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-color);
  transition: color 300ms linear;
}
.footer__soc-link:hover, .footer__soc-link:focus {
  color: var(--active-color);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */