.hero {

    .container {
        // mob
        padding: 0;

        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 0px
        }

        @media screen and (min-width: 480px) {
            padding: 0px;
        }

        // tab
        @media screen and (min-width: 768px) {
            padding: 0px 39px 0 39px;

            margin: 0 auto;
            display: flex;
            align-items: center;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            padding: 0px 75px 0 39px;

            display: flex;
            flex-direction: row;
            height: auto;
            margin: 0 auto;
            align-items: start;
        }
    }
    
    &__container {
        // MOB
        min-height: 580px;

        background-color: #303030;
        flex-grow: 1;

        background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)), 
            url(../img/hero-bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        padding: 208px 30px 0 31px;

        // tab
        @media screen and (min-width: 768px)  {
            width: 576px;
            height: 680px;
            padding-top: 280px;
            padding-left: 70px;
            margin-left: auto;
        
            background-image: linear-gradient(
                rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)), 
                url(../img/hero-bg-tab.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        // desktop
        @media screen and (min-width: 1280px)  {
            width: 1073px;
            height: 672px;
            padding: 271px 0 0 99px;
        
            background-image: linear-gradient(
                rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)), 
                url(../img/header-background-1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    
    &__top-text {
        // MOB
        position: relative;

        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: rgba(157, 164, 189, 0.6);

        margin-left: 80px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: -41px;
            left: -50px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: rgba(157, 164, 189, 0.6);
            transform: rotate(-90deg) translate(-19px);
        }   
    }

    &__heading {
        // MOB
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 48px;
        line-height: 1.16;
        letter-spacing: 0.05em;

        color: var(--light-color);

        margin-bottom: 20px;

        // desktop
        @media screen and (min-width: 1280px) {
            font-size: 72px;
            line-height: 1.18;
        }
    }

    &__bottom-text {
        // mob
        max-width: 306px;

        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.02em;

        color: #9DA4BD;

        // tab
        @media screen and (min-width: 768px) {
            max-width: 349px;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            font-size: 18px;
            line-height: 1.66;

            max-width: 400px;
        }
    }
}

.soc {
    // MOB
    position: relative;
    width: 127px;
    padding-left: 50px;

    display: flex;
    align-items: flex-end; 
    display: none;

    // tab
    @media screen and (min-width: 768px)  {
        position: relative;
        
        width: 85px;
        height: 680px;
        padding: 0px 36px 0px 30px;
        margin-right: 28px;

        display: flex;
        align-items: flex-end;
    }

    // desktop
    @media screen and (min-width: 1280px) {
        height: 672px;
        margin-right: 0;
        padding: 0 36px 0 20px;
    }

    &__list {
        // MOB
        display: flex;
        transform-origin: top left;
        transform: rotate(-90deg) translate(-19px);
        align-items: center;

        &::before {
            position: absolute;
            top: -37px;
            left: 65px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: var(--dark-color);
            transform: rotate(-90deg) translate(-20px);
        }
    }  

    &__link {
        // MOB
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        transition: color 300ms linear;
        
        color: var(--dark-color);

        &:hover, &:focus {
            color: var(--active-color);
            cursor: pointer;
        }
    }
    
    &__item:first-child {
        margin-right: 40px;
        margin-left: 140px;
    }
}