.about {

    .container {
        // MOB
        padding: 84px 30px 84px 30px;

        @media screen and (min-width: 768px) {
            padding: 100px 39px;
        }

        // tab
        @media screen and (min-width: 768px) {
            display: flex;
        }

        // desktop
        @media screen and (min-width: 1280px)  {
            padding: 165px 75px 90px 55px;
            display: block;
        }
    }

    &__content-container {
        display: flex;
        flex-direction: row;
justify-content: space-between;

        // desktop
        @media screen and (min-width: 1280px) {
            margin: 0 auto;
        }
    }

    &__list {
        // MOB
        display: none;

        // tab
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            display: flex;
            flex-direction: row;
        }
    }

    &__item {
        width: 330px;
        height: auto;

        margin-right: 30px;
        
        &:first-child {
            margin-bottom: 30px;
        }
        // desktop
        @media screen and (min-width: 1280px) {
            max-width: 270px;
            height: auto;

            &:first-child {
                margin-bottom: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    &__img {
            
        }


    &__container-text {
        position: relative;
        // desktop
        @media screen and (min-width: 1280px) {
            max-width: 500px;
        }
    }

    &__top-text {
        // MOB
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
        color: var(--dark-color);

        margin-left: 80px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: 0;
            left: 30px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: var(--dark-color);
            transform: rotate(90deg) translate(-23px);
        }
    }

    &__heading {
        // MOB
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 29px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        
        color: var(--dark-color);

        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            font-size: 28px;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            font-size: 42px;
            line-height: 1.16;
        }
    }

    &__first-text {
        // MOB
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.02em;
        
        color: #555555;

        margin-bottom: 20px;

        // desktop
        @media screen and (min-width: 1280px) {
            font-size: 18px;
            line-height: 1.66;
        }
    }

    &__second-text {
        // MOB
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.02em;
        
        color: #555555;

        margin-bottom: 40px;

        // desktop
        @media screen and (min-width: 1280px) {
            width: 480px;
            margin-bottom: 30px;
        }
    }
}