.about {
    // padding-top: 165px;
    // padding-bottom: 90px;
    .container {
        // display: flex;
        // justify-content: space-around;
        // margin: 0 auto;

        // MOB
        padding: 84px 30px 84px 30px;
    }

    &__list {
        // display: flex;
    }

    &__item:first-child {
        // margin-right: 30px;
    }

    &__img {
        // MOB
        @media screen and (max-width: 768px) {
            display: none;
        }
        // max-width: 270px;
        // height: auto;
    }


    &__container-text {
        position: relative;
        // max-width: 500px;
    }

    &__top-text {
        // font-weight: 600;
        // font-size: 11px;
        // line-height: 1.36;
        // letter-spacing: 0.1em;
        // text-transform: uppercase;

        // color: var(--dark-color);

        // margin-left: 80px;
        // margin-bottom: 20px;

        // MOB
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
        color: var(--dark-color);

        margin-left: 80px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: 0;
            left: 30px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: var(--dark-color);
            transform: rotate(90deg) translate(-23px);
        }
    }

    &__heading {
        // font-family: 'Raleway';
        // font-weight: 700;
        // font-size: 42px;
        // line-height: 1.16;
        // letter-spacing: 0.05em;

        // color: var(--dark-color);

        // margin-bottom: 20px;

        // MOB
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 29px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        
        color: var(--dark-color);

        margin-bottom: 20px;
    }

    &__first-text {
        // font-weight: 400;
        // font-size: 18px;
        // line-height: 1.66;
        // letter-spacing: 0.02em;

        // color: #555555;

        // margin-bottom: 20px;

        // MOB
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.02em;
        
        color: #555555;

        margin-bottom: 20px;
    }

    &__second-text {
        // font-weight: 400;
        // font-size: 14px;
        // line-height: 1.85;
        // letter-spacing: 0.02em;

        // color: #555555;

        // margin-bottom: 30px;

        // MOB
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.02em;
        
        color: #555555;

        margin-bottom: 40px;
    }
}