.connect-wrap {
    // width: 1280px;
    // margin: 0 auto;
    
    // background-color: #191C26;
    // background-image: url(../img/contacts-bg.png);
    // background-repeat: no-repeat;
    // background-position: right;
    // background-size: calc(50% - 15px);

    // MOB
    margin: 0 auto;

    
    

    .container {
        background-color: #191C26;
        background-image: url(../img/contacts-mob-bg.png);
        background-repeat: no-repeat;
        background-position: bottom;

        display: flex;
        flex-direction: column;

        padding: 0;

        // tab
        @media screen and (min-width: 768px) {
            background-image: url(../img/contacts-tab-bg.png);
        }
    }

    .contacts {
        // width: calc(50% - 15px);
        // height: 644px;
        
        // // MOB
        // height: 496px;

        // // tab
        // @media screen and (min-width: 768px) {
        //     height: 449px;
        // }

        // padding-top: 130px;
        // padding-left: 100px;
    }
}