
.header {
    position: absolute;
    width: 100%;
    .container {
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    
    &__logo {     
        margin-right:60px;
        margin-left: 35px;
    }
    
    &__logo-icon {    
        fill: #303030;
    }
    
    &__list {
        display: flex;
    }
    
        &__item:not(:last-child) {
        margin-right: 40px;
    }
    &__link {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;

        transition: color 300ms linear;
    
        color: var(--light-color);
        
        &:hover, &:focus {
            color: var(--active-color);
            cursor: pointer;
        }
    }

    &__contacts {
        margin-left: auto;
    }

    &__tel {
        margin-right: 40px;
    
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transition: color 300ms linear;
    
    color: var(--light-color);
    
        &:hover, &:focus {
            color: var(--active-color);
            cursor: pointer;
        }
    }
}