
.header {
    position: absolute;
    width: 100%;
    .container {
        // margin: 0 auto;
        // display: flex;
        // align-items: center;
        // padding-top: 20px;

        // MOB
        position: relative;
        padding: 40px 15px 0 15px;

        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 40px 30px 0 30px;
        }

        @media screen and (min-width: 480px) {
            padding: 40px 30px 0 30px;
        }

        @media screen and (min-width: 768px) {
            padding: 40px 39px 0 50px;

            margin: 0 auto;
            display: flex;
        }

        @media screen and (min-width: 1280px) {
            padding: 40px 52px 0 62px;
        }
        
    }
    
    &__logo {     
        // margin-right:60px;
        // margin-left: 35px;
        
        // tab

        
        @media screen and (min-width: 768px) {
            margin-right: 60px;
        }
      
    }
    
    &__logo-icon {    
        // MOB
        fill: var(--light-color);

        // tab
        @media screen and (min-width: 768px) {
            fill: #303030;
        }
    }

    &__navigation {
        display: none;
        
        @media screen and (min-width: 768px)  {
            display: block;
            padding-top: 10px;
        }
    }

    &__list {
        display: flex;
    }
    
    // &__item:not(:last-child) {
    // margin-right: 40px;
    // }

    &__item {
        @media screen and (min-width: 768px)  {
            margin-right: 25px;
        }
    }

    &__link {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;

        transition: color 300ms linear;
    
        color: var(--light-color);
        
        &:hover, &:focus {
            color: var(--active-color);
            cursor: pointer;
        }
    }

    &__contacts {
        margin-left: auto;
        display: none;

        @media screen and (min-width: 768px)  {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__tel {
        margin-right: 40px;
    
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transition: color 300ms linear;
    
        color: var(--light-color);
    
        &:hover, &:focus {
            color: var(--active-color);
            cursor: pointer;
        }

        @media screen and (min-width: 768px) {
            margin: 0 auto;
        }
    }

    &__btn {
        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__mob-btn {
        position: absolute;
        top: 48px;
        right: 30px;   
        
        fill: var(--light-color);

        transition: fill 300ms linear;

        &:hover, &:focus {
            fill: var(--active-color);
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}