.masters {

    .container {
        // MOB
        padding: 84px 30px;
        background-color: #F7F7F7;

        // tab
        @media screen and (min-width: 768px) {
            padding: 100px 159px;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            padding: 130px 55px;
        }
    }

    &__container-text {
        position: relative;

        margin-bottom: 44px;
    }

    &__top-text {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: var(--dark-color);

        margin-bottom: 20px;
        margin-left: 80px;

        &::before {
            position: absolute;
            top: 0;
            left: 30px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: var(--dark-color);
            transform: rotate(90deg) translate(-23px);
        }
    }

    &__heading {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;

        color: var(--dark-color);
    }
}


.masters-soc {

    &__list {
        // desktop
        @media screen and (min-width: 1280px) {
            display: flex;
        }
    }
    
    &__item {
        // MOB
        width: 100%;
        margin-bottom: 64px;
        &:last-child {
            margin: 0;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            margin-bottom: 0;
            width: 370px;
            margin-right: 30px;

            &:last-child {
                margin: 0;
            }
        }
    }
    &__img {
        display: block;
        margin-bottom: 30px;
        &-card {
            margin: 0 auto;

            // desktop
            @media screen and (min-width: 1280px) {
                margin: 0;
            }
        }
    }
    &__heading {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.38;
        text-align: center;
        letter-spacing: 0.02em;

        color: var(--dark-color);

        margin-bottom: 8px;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.35;
        text-align: center;
        letter-spacing: 0.02em;

        color: #FF6C00;

        margin-bottom: 30px;
    }   
}


.social-network {
    display: flex;
    justify-content: center;

    &__list {
        margin-right: 10px;
    }

    .social-network__link {
        width: 44px;
        height: 44px;
    
        display: flex;
        justify-content: center;
        align-items: center;

        transition: fill 300ms linear;

        &:hover, &:focus {
            fill: #FF6C00;
            cursor: pointer;
        }
    }
}