.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    opacity: 1;
    
    transition: opacity 300ms linear;

    z-index: 2;


    &.is-hidden {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}



.modal-online {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 400px;
    border-radius: 10px;

    background-color: #191C26;
    box-shadow: inset 0 0 10px 5px rgba(244, 244, 244, 0.3);

    padding: 30px;

    transform: translate(-50%, -50%);

    @media screen and (min-width: 480px)  {
        min-width: 450px;
    }

    // tab
    @media screen and (min-width: 768px)  {
        max-width: 450px;
    }

    // desktop
    @media screen and (min-width: 1280px)  {
        min-width: 530px;
    }

    &__btn-close {
        position: absolute;
        display: block;
        
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;

        background-color: transparent;
        border: none;
        &-icon {
            fill: var(--light-color);
    
            &:hover, &:focus {
                fill: var(--active-color);
                cursor: pointer;
            }
        }
    }

    &__heading {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.05em;

        color: var(--light-color);

        margin-bottom: 44px;
    }

    &__field {
        position: relative;
        
        margin-bottom: 20px;

        &:hover .modal-online__input {
            border-bottom: 1px solid var(--light-color);
            cursor: pointer;
        }

        &:hover .modal-online__label {
            color: var(--light-color);
            cursor: pointer;
        }
    }

    &__input {
        width: 100%;
        height: 24px;

        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
        color: var(--light-color);

        transition: border 300ms linear;

        &:not(:placeholder-shown) + .modal-online__label {
            color: #ffffff;
            transform: translateY(-100%);
        }
        &:focus + .modal-online__label {
            color: #ffffff;
            transform: translateY(-100%);
        }
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;

        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: rgba(157, 164, 189, 0.4);
        
        transition: transform 300ms linear, color 300ms linear;
    }

    &__field-text {
        position: relative;
        
        margin-bottom: 44px;

        &:hover .modal-online__text {
            border-bottom: 1px solid var(--light-color);
            cursor: pointer;
        }

        &:hover .modal-online__label {
            color: var(--light-color);
            cursor: pointer;
        }
    }

    &__text {
        width: 100%;
        height: 64px;

        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
        resize: none;
        color: var(--light-color);

        transition: border 300ms linear;
        
        &:not(:placeholder-shown) + .modal-online__label {
            color: #ffffff;
            transform: translateY(-100%);
        }
        &:focus + .modal-online__label {
            color: #ffffff;
            transform: translateY(-100%);
        }

    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}