.header {
    &__modal-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        z-index: 2;

        background-color: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        box-shadow: -21px 22px 28px -11px rgba(111,111,111,0.67) inset;
-webkit-box-shadow: -21px 22px 28px -11px rgba(111,111,111,0.67) inset;
-moz-box-shadow: -21px 22px 28px -11px rgba(111,111,111,0.67) inset;

        .container {
            position: absolute;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            padding: 118px 0px 0px 61px;
        }

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }  
        // tab
        @media screen and (min-width: 768px)  {
            display: none;
        }
    }

    &__mob-navigation {
        margin-bottom: 64px;
    }

    &__mob-item {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover .header__mob-link {
            color: var(--active-color);
        }
    }

    &__mob-link {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.38;
        text-align: center;
        letter-spacing: 0.1em;

        color: var(--dark-color);

        transition: color 300ms linear;
    }

    &__mob-contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
    }

    &__mob-tel {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.38;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: var(--dark-color);

        margin-bottom: 24px;

        transition: color 300ms linear;

        &:hover, &:focus {
            color: var(--active-color);
        }
    }

    &__mob-menu-btn {
        width: 194px;
        height: 40px;
    }
}

.soc-mob {
    position: relative;
    padding-right: 105px;
    margin-left: 100px;

    &__item {
        &:first-child {
            margin-bottom: 24px;
        }

        &:hover .soc-mob__link, &:focus {
            color: var(--active-color);
        }

        &::before {
            position: absolute;
            top: 4px;
            left: -70px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: var(--dark-color);
            transform: rotate(90deg) translate(-23px);
        }
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.35;
        letter-spacing: 0.2em;

        color: var(--dark-color);

        transition: color 300ms linear;
    }
}