.prices {
        // width: 1280px;
        // background-color: #111319;
        // background-image:
        //     url(../img/prices-bg.png);
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
        // margin: 0 auto;

        // padding: 130px 55px;

// MOB
        max-width: 480px;
        min-height: 826px;
        background-color: #111319;
        background-image:
            url(../img/prices-mob-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;

// tab
        @media screen and (min-width: 768px) {
            max-width: 768px;
            min-height: 858px;
            background-image:
                url(../img/prices-tab-bg.png);
        }

// desktop
        @media screen and (min-width: 1280px) {
            max-width: 1280px;
            min-height: 718px;
            background-image:
                url(../img/prices-bg.png);
        }
        

    .container {
        // width: 1170px;
        // position: relative;
        // padding: 0;

// MOB
        position: relative;
        padding: 84px 30px 84px 30px;

// tab
    @media screen and (min-width: 768px) {
        padding: 100px 39px;
    }

// desktop
    @media screen and (min-width: 1280px) {
        padding: 130px 55px;
    }
}

    &__container {
        // display: flex;
        // margin-bottom: 50px;

        // MOB
        
        background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
        padding: 30px;
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            padding: 30px 40px;
        }

        @media screen and (min-width: 1280px) {
            display: flex;
            padding: 0;
        }
    }    

    &__top-text {
        // font-weight: 600;
        // font-size: 11px;
        // line-height: 1.36;
        // letter-spacing: 0.1em;
        // text-transform: uppercase;
        
        // color: rgba(157, 164, 189, 0.6);

        // margin-left: 80px;
        // margin-bottom: 20px;

        // MOB

        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: rgba(157, 164, 189, 0.6);

        margin-left: 80px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: 84px;
            left: 59px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: rgba(157, 164, 189, 0.6);
            transform: rotate(90deg) translate(-23px);

            @media screen and (min-width: 768px) {
                top: 100px;
                left: 70px;
            }

            @media screen and (min-width: 1280px) {
                top: 130px;
                left: 85px;
            }
        }
    }

    &__heading {
        // font-family: 'Raleway';
        // font-weight: 700;
        // font-size: 42px;
        // line-height: 1.16;
        // letter-spacing: 0.05em;
        
        // color: var(--light-color);

        // margin-bottom: 44px;

        // MOB
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;

        color: var(--light-color);

        margin-bottom: 44px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}

.price-list {
    // desktop
    @media screen and (min-width: 1280px) {
    width: 585px;
    height: 240px;
    padding: 30px 40px;

        &--left {
                background-image: linear-gradient(180deg, 
                #171a24 0%, 
                rgba(23, 26, 36, 0.2) 100%);
            }    

        &--right {
                background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%); 
        }
    }
    &__item {
        // MOB
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        margin-bottom: 20px;

        // MOB
        .price-list--right &:last-child {
            margin: 0;
        }
        
        @media screen and (min-width: 425px) {
            &::after {
                content: "";
                height: 1px;
                width: 20px;
                background-color: rgba(157, 164, 189, 0.12);
                margin-left: 6px;
                margin-right: 6px;
                flex-grow: 1;
            }
        }
        // &:last-child {
        //     margin: 0;
        // }

    }

    &__text {
        // font-weight: 400;
        // font-size: 18px;
        // line-height: 1.66;
        // letter-spacing: 0.02em;
        
        // color: #9DA4BD;

        // MOB
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 0.02em;

        color: #9DA4BD;

        @media screen and (min-width: 425px) {
            &:last-child {
                order: 1;
            }
        }

        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 1.67;
        }
        
    }
}