.prices {
        width: 1280px;
        background-color: #111319;
        background-image:
            url(../img/prices-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;

        padding: 130px 55px;
    .container {
        width: 1170px;
        position: relative;
        padding: 0;
    }

    &__container {
        display: flex;
        margin-bottom: 50px;
    }    

    &__top-text {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
        color: rgba(157, 164, 189, 0.6);

        margin-left: 80px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: 0;
            left: 30px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: rgba(157, 164, 189, 0.6);
            transform: rotate(90deg) translate(-23px);
        }
    }

    &__heading {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        
        color: var(--light-color);

        margin-bottom: 44px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}

.price-list {
    width: 585px;
    height: 240px;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;

    &--left {
        background-image: linear-gradient(180deg, 
        #171a24 0%, 
        rgba(23, 26, 36, 0.2) 100%);
    }

    &--right {
        background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    }

    &__item {
        display: flex;
        justify-content: space-between;

        margin-bottom: 20px;

        &:last-child {
            margin: 0;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.66;
        letter-spacing: 0.02em;
        
        color: #9DA4BD;
    }
}