.reasons {
    .container {
        // mob
        display: flex;
        flex-wrap: wrap-reverse;
        
        padding: 84px 30px;

        // tab
        @media screen and (min-width: 768px) {
            padding: 100px 39px;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            padding: 143px 155px 139px 155px;
            display: flex;
            justify-content: space-between;
        }
    }

    &__list {
        // MOB
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @media screen and (min-width: 480px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        // tab
        @media screen and (min-width: 768px) {
            max-width: 450px;
            margin: 0;
            margin-left: auto;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            margin: 0;
        }
    } 

    &__item {
        // MOB
        padding: 20px 30px 20px 30px;
        margin-bottom: 30px;
        &:last-child {
            margin: 0;
        }

        width: 193px;
        height: 133px;

        background-color: #F7F7F7;

        @media screen and (min-width: 480px)  {
            margin: 0 ;
            &:nth-child(2n) {
                margin-top: 30px;
            }
    
            
            &:first-child {
                margin-bottom: 30px;
            }

            &:nth-child(2n+1) {
                margin-right: 30px;
            }
        }

        // tab
        @media screen and (min-width: 768px) {
            width: 210px;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            width: 170px;
            padding: 20px;
        }
    }

    &__statistics {
        display: block;

        font-weight: 700;
        font-size: 42px;
        line-height: 1.35;
        text-align: center;
        letter-spacing: 0.05em;

        color: var(--dark-color);
        &-plus {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.37;
            text-align: center;
    
            color: #FF6C00;
    
            vertical-align: top;
        }
    }

    &__explanation {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-align: center;

        color: var(--dark-color);
    }

    &__text-container {
        // MOB
        position: relative;

        // tab 
        @media screen and (min-width: 768px) {
            max-width: 500px;
        }

        // desktop
        @media screen and (min-width: 1280px) {
            max-width: 470px;
            margin-top: -9px;
        }
    }

    &__top-text {
        // MOB
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: var(--dark-color);

        margin-left: 80px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: 0;
            left: 30px;
            content: '';
            width: 0.96px;
            height: 60px; 
            background-color: var(--dark-color);
            transform: rotate(90deg) translate(-23px);
        }
    }
    &__heading {
        // MOB
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;

        color: var(--dark-color);

        margin-bottom: 20px;
    }
    &__bottom-text {
        // MOB
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;

        color: #555555;

        margin-bottom: 44px;

        // desktop
        @media screen and (min-width: 1280px) {
            margin-bottom: 0;
        }
    }
}