.btn {
    width: 160px;
    height: 40px;
    
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    transition: color 300ms linear, background-color 300ms;

    border: 1px solid #FF6C00;
    border-radius: 25px;

    &:hover, &:focus {
        background-color: var(--active-color);
        color: var(--light-color);
        cursor: pointer;
    }
    &--light {
        color: var(--light-color);
    }
    &--dark {
        color: var(--dark-color);
    }
}